<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Be.Sidmar.RIS.BrandweerBewaking.Client.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Be.Sidmar.RIS.BrandweerBewaking.Client.My.MySettings.bbwConnectionString" connectionString="Data Source=svsim178\sp3a;Initial Catalog=bbw;User ID=SQLBBW;Password=usr4bbw#" providerName="System.Data.SqlClient"/>
        <add name="Be.Sidmar.RIS.BrandweerBewaking.Client.My.MySettings.bbwConnectionString1" connectionString="Data Source=sql5dvlp4\v04;Initial Catalog=bbw;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Be.Sidmar.RIS.BrandweerBewaking.Client.My.MySettings.hrmConnectionString" connectionString="Data Source=svsim178.sidmar.be\sp3a;Initial Catalog=hrm;User ID=sqlhrm;Password=ADI" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Be.Sidmar.RIS.BrandweerBewaking.Client.My.MySettings>
            <setting name="Be_Sidmar_RIS_BrandweerBewaking_Client_SappersDataNew_Service_ZHR_BAPI_SAPPERS_P_STANDARD" serializeAs="String">
                <value>http://hr-dvlp.sap.sidmar.agn/sap/bc/srt/pm/sap/zhr_bapi_sappers/200/local/p_standard/1/binding_t_http_a_http_zhr_bapi_sappers_p_standard_l</value>
            </setting>
            <setting name="Be_Sidmar_RIS_BrandweerBewaking_Client_FirmaService_Services" serializeAs="String">
                <value>http://wffrsprod.sidmar.be/HRMService.Firma/Services.asmx</value>
            </setting>
        </Be.Sidmar.RIS.BrandweerBewaking.Client.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
