<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="References" />
  </config>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <packageSources>
    <add key="Corporate Nuget Feed" value="http://packagefeeds.sidmar.be:81/nuget/nuget" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="Corporate Nuget Feed" value="http://packagefeeds.sidmar.be:81/nuget/nuget" />
  </activePackageSource>
</configuration>