<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="application" type="ADF.Configuration.ConfigurationSettings.ApplicationSectionLoader, ADF.System"/>
    <section name="instance" type="ADF.Configuration.ConfigurationSettings.InstanceSettingsLoader, ADF.System"/>
    <section name="instrumentation" type="ADF.Configuration.ConfigurationSettings.InstrumentationSettingsLoader, ADF.System"/>
    <section name="exceptionHandling" type="ADF.Configuration.ConfigurationSettings.ExceptionHandlingSettingsLoader, ADF.System"/>
    <section name="tracing" type="ADF.Configuration.ConfigurationSettings.TracingSettingsLoader, ADF.System"/>
    <section name="dataBases" type="ADF.Configuration.ConfigurationSettings.DatabaseSettingsLoader, ADF.System"/>
    <section name="usedWebServices" type="ADF.Configuration.ConfigurationSettings.UsedWebServiceSettingsLoader, ADF.System"/>
    <section name="srsreporting" type="ADF.Configuration.ConfigurationSettings.SRSReporting.SRSReportingSettingsLoader, ADF.Reporting.SRS.Configuration"/>
  </configSections>
  <application Name="BBW" Version="7.1.0"/>
  <instance Name="BBW"/>
  <instrumentation ServiceName="BBWCLI" InstanceName="BBW" Stage="PROD" Zone="Intranet" UsePerformanceCounters="No"/>
  <exceptionHandling level="Full" minSeverityLevel="High" mode="On">
    <publisher mode="On" logtype="File" fileName="C:\WebSrvLog\BBW\RIS.BrandweerBewaking-PROD Errors.log" daily="True" level="Full" maxSeverityLevel="Critical" minSeverityLevel="Medium"/>
    <publisher mode="On" logtype="File" fileName="C:\WebSrvLog\BBW\RIS.BrandweerBewaking-PROD Warnings.log" daily="True" level="Medium" maxSeverityLevel="Low" minSeverityLevel="Warning"/>
    <publisher mode="Off" logtype="Database" ServerName="APMPROD.Sidmar.Be" TransportType="MSMQ" level="Full" minSeverityLevel="Warning"/>
    <publisher mode="Off" logtype="Eventlog" applicationName="BBW.NET" logName="BBW Error Log" level="Medium" minSeverityLevel="High"/>
  </exceptionHandling>
  <tracing Mode="True" File="C:\WebSrvLog\BBW\RISService.Management_RIS-PROD_Trace.log" TraceLevel="Application" OutputFormat="DateTimeAndText"/>
  <dataBases>
    <Database LogicalName="SQLConnection" ConnectionString="Data Source=sql14prod1\v01;Initial Catalog=BBW;Integrated Security=True;Pooling=true; Connection Lifetime=300; Min Pool Size=1; Max Pool Size=200;" ProviderType="MSSQL"/>
    <Database LogicalName="METAConnection" ConnectionString="Initial Catalog=DMS;Data Source = SQL14prod1\v01;Integrated Security=SSPI;Pooling=True; Connection Lifetime=300; Min Pool Size = 1; Max Pool Size = 200;" ProviderType="MSSQL"/>
    <Database LogicalName="BBWConnection" ConnectionString="Data Source=sql14prod1\v01;Initial Catalog=BBW;Integrated Security=True;Pooling=true; Connection Lifetime=300; Min Pool Size=1; Max Pool Size=200;" ProviderType="MSSQL"/>
  </dataBases>
  <appSettings>
    <add key="StandaardzinMilieuverslagBewaking" value="Gelieve het incident verder te onderzoeken."/>
    <add key="StandaardzinMilieuverslagBrandweer" value="Gelieve het incident verder te onderzoeken."/>
    <add key="IKP_AddresseesConfigKey" value="IKP"/>
    <add key="VeraBasicUrl" value="http://svnts017.sidmar.be/Actiepunt/Vera.nsf"/>
    <add key="ExportFolderPdf" value="C:\temp\files"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ReportServer" value="http://reporting-prod4.sidmar.be/Reportserver?"/>
  </appSettings>
  <!--
  http://wfbbwprod.sidmar.be/BBWService.Mgt/Services.asmx
  http://localhost/BBWService.Management/services.asmx
  http://wfbbwprod.sidmar.be/BBWService.Management/services.asmx
  -->
  <usedWebServices>
    <!--<usedWebService LogicalName="BBWService.Mgt" URL="http://wfbbwprod.sidmar.be:80/BBWService.Management/Services.asmx" ConnectionRetryCount="3" ConnectionRetryDelay="2" />-->
    <usedWebService LogicalName="BBWService.Mgt" URL="http://wfbbwprod.sidmar.be:80/BBWService.Management/Services.asmx" ConnectionRetryCount="3" ConnectionRetryDelay="2"/>
    <usedWebService LogicalName="ApplicationSecurityService" URL="http://wfbbwprod.sidmar.be:80/BBWService.ApplicationSecurity/ApplicationSecurityService.svc" ConnectionRetryCount="3" ConnectionRetryDelay="2"/>
    <usedWebService LogicalName="HRMServiceFirma" URL="http://wffrsprod.sidmar.be:80/HRMService.Firma/Services.asmx" ConnectionRetryCount="5" ConnectionRetryDelay="2"/>
    <usedWebService LogicalName="BBWServiceDocumentum" URL="http://wfdocprod.sidmar.be:80/DocService.DocInfo/BBWServices.asmx" ConnectionRetryCount="5" ConnectionRetryDelay="2"/>
    <usedWebService LogicalName="HRSService.HRMData" URL="http://wfhrsprod.sidmar.be/HRSService.HRMData/Services.asmx" ConnectionRetryCount="5" ConnectionRetryDelay="2"/>
    <usedWebService LogicalName="SappersDataNew" URL="http://hr-prod.sap.sidmar.agn/sap/bc/srt/pm/sap/zhr_bapi_sappers/400/local/p_standard/1/binding_t_http_a_http_zhr_bapi_sappers_p_standard_l" ConnectionRetryCount="5" ConnectionRetryDelay="2"/>
  </usedWebServices>
  <srsreporting>
    <srsreportserver url="http://reporting-prod4.sidmar.be/Reportserver/ReportService.asmx"/>
  </srsreporting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
