<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <application
    Version="{UCM.Version}"
    xdt:Transform="SetAttributes(Version)">
  </application>

  <instance
      Name="{UCM.Instance}"
      xdt:Transform="SetAttributes(Name)">
  </instance>

  <instrumentation
      InstanceName="{UCM.Instance}"
      xdt:Transform="SetAttributes(InstanceName)">
  </instrumentation>

  <instrumentation
      Stage="{UCM.Environment}"
      xdt:Transform="SetAttributes(Stage)">
  </instrumentation>

  <exceptionHandling>
    <publisher
       fileName="{WF.DIR.LOG}\{UCM.Instance}\RIS.BrandweerBewaking-{UCM.Environment} Errors.log"
       xdt:Transform="SetAttributes(fileName)"
       xdt:Locator="Condition(@logtype='File' and @maxSeverityLevel='Critical')" />
    <publisher
      fileName="{WF.DIR.LOG}\{UCM.Instance}\RIS.BrandweerBewaking-{UCM.Environment} Warnings.log"
      xdt:Transform="SetAttributes(fileName)"
      xdt:Locator="Condition(@logtype='File' and @maxSeverityLevel='Low')" />
  </exceptionHandling>

  <tracing
    File="{WF.DIR.LOG}\{UCM.Instance}\RISService.Management_RIS-{UCM.Environment}_Trace.log"
    xdt:Transform="SetAttributes(File)">
  </tracing>

  <dataBases>
    <Database
       ConnectionString="Data Source={DB.SRV.BBW2005}\{DB.INST.BBW2005};Initial Catalog={DB.CAT.BBW2005};Integrated Security=True;Pooling=true; Connection Lifetime=300; Min Pool Size=1; Max Pool Size=200;"
       ProviderType="MSSQL"
       xdt:Transform="SetAttributes(ConnectionString, ProviderType)"
       xdt:Locator="Condition(@LogicalName='SQLConnection')" />
    <Database
       ConnectionString="Data Source={DB.SRV.BBW2005}\{DB.INST.BBW2005};Initial Catalog={DB.CAT.BBW2005};Integrated Security=True;Pooling=true; Connection Lifetime=300; Min Pool Size=1; Max Pool Size=200;"
       ProviderType="MSSQL"
       xdt:Transform="SetAttributes(ConnectionString, ProviderType)"
       xdt:Locator="Condition(@LogicalName='BBWConnection')" />
  </dataBases>

  <appSettings>
    <add
      value="{REPORT.SERVER}"
      xdt:Transform="SetAttributes(value)"
      xdt:Locator="Condition(@key='ReportServer')" />
  </appSettings>

  <usedWebServices>
    <usedWebService
          LogicalName="BBWServiceManagement"
          URL="{WS.BBW.SM.URL}"
          xdt:Transform="SetAttributes(URL)"
          xdt:Locator="Condition(@LogicalName='BBWService.Mgt')" />
    <usedWebService
          LogicalName="ApplicationSecurityService"
          URL="{WS.BBW.AS.URL}"
          xdt:Transform="SetAttributes(URL)"
          xdt:Locator="Condition(@LogicalName='ApplicationSecurityService')" />
    <usedWebService
          LogicalName="HRMServiceFirma"
          URL="{WS.HRM.FS.URL}"
          xdt:Transform="SetAttributes(URL)"
          xdt:Locator="Condition(@LogicalName='HRMServiceFirma')" />
    <usedWebService
          LogicalName="BBWServiceDocumentum"
          URL="{WS.BBW.SD.URL}"
          xdt:Transform="SetAttributes(URL)"
          xdt:Locator="Condition(@LogicalName='BBWServiceDocumentum')" />
  </usedWebServices>

  <srsreporting>
    <srsreportserver url="{SSRS.BBW.URL}"
                     xdt:Transform="SetAttributes(url)"/>
  </srsreporting>

</configuration>