<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- Use the server (DB.SRV.BBW) and Catalog (DB.CAT.BBW) from token file-->
    <add name="InspectConnectionString" connectionString="Data Source={DB.SRV.BBW};Initial Catalog={DB.CAT.BBW};Integrated Security=True;Application Name=Inspect.WebApi - {UCM.Environment} - {UCM.Version}" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>

  
  <log4net debug="false" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!-- Use the directory(WF.DIR.LOG) from token file-->
    <appender name="RollingFileAppenderTracing" type="log4net.Appender.RollingFileAppender">
      <file value="{WF.DIR.LOG}\Inspect.WebApi.Host Tracing" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(../@name='RollingFileAppenderTracing')"/> />
    </appender>

    <!-- Use the directory(WF.DIR.LOG) from token file-->
    <appender name="RollingFileAppenderLogging" type="log4net.Appender.RollingFileAppender">
      <file value="{WF.DIR.LOG}\Inspect.WebApi.Host Logging" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(../@name='RollingFileAppenderLogging')"/> />
    </appender>
    
    <!-- Use the server (DB.SRV.BBW) and Catalog (DB.CAT.BBW) from token file-->
    <appender name="DatabaseLogEntryAppender" type="log4net.Appender.AdoNetAppender">
      <connectionString value="Data Source={DB.SRV.BBW};Initial Catalog={DB.CAT.BBW};Integrated Security=True;Application Name=Inspect.WebApi - {UCM.Environment} - {UCM.Version}" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(../@name='DatabaseLogEntryAppender')"/>   />
    </appender>
  </log4net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>