<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <identity impersonate="{impersonate}"
              xdt:Transform="SetAttributes(impersonate)"/>
  </system.web>
  
  <application
      Version="{UCM.Version}"
      xdt:Transform="SetAttributes(Version)">
  </application>

  <instance
      Name="{UCM.Instance}"
      xdt:Transform="SetAttributes(Name)">
  </instance>

  <instrumentation
      InstanceName="{UCM.Instance}"
      xdt:Transform="SetAttributes(InstanceName)">
  </instrumentation>

  <instrumentation
      Stage="{UCM.Environment}"
      xdt:Transform="SetAttributes(Stage)">
  </instrumentation>


  <exceptionHandling>
    <publisher
       fileName="{WF.DIR.LOG}\{UCM.Instance}\RIS.BrandweerBewaking Security-{UCM.Environment} Errors.log"
       xdt:Transform="SetAttributes(fileName)"
       xdt:Locator="Condition(@logtype='File' and @maxSeverityLevel='Critical')" />
    <publisher
      fileName="{WF.DIR.LOG}\{UCM.Instance}\RIS.BrandweerBewaking Security-{UCM.Environment} Warnings.log"
      xdt:Transform="SetAttributes(fileName)"
      xdt:Locator="Condition(@logtype='File' and @maxSeverityLevel='Low')" />
  </exceptionHandling>

  <dataBases>
    <Database
       ConnectionString="Data Source={DB.SRV.BBW2005}\{DB.INST.BBW2005};Initial Catalog={DB.CAT.BBW2005};Integrated Security=True;Pooling=true; Connection Lifetime=300; Min Pool Size=1; Max Pool Size=200;"
       ProviderType="MSSQL"
       xdt:Transform="SetAttributes(ConnectionString, ProviderType)"
       xdt:Locator="Condition(@LogicalName='BVLDatabase')" />
  </dataBases>
  
</configuration>