<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Be.Sidmar.RIS.BrandweerBewaking.Proxy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>


  <applicationSettings>
    <Be.Sidmar.RIS.BrandweerBewaking.Proxy.My.MySettings>
      <setting name="Be_Sidmar_RIS_BrandweerBewaking_Proxy_HRMservice_Firma_Services" serializeAs="String">
        <value>http://wfhrmprod.sidmar.be/hrmservice.firma/services.asmx</value>
      </setting>
      <setting name="Be_Sidmar_RIS_BrandweerBewaking_Proxy_HRSService_HRMData_Services" serializeAs="String">
        <value>http://wfhrsprod.sidmar.be/HRSService.HRMData/Services.asmx</value>
      </setting>
      <setting name="Be_Sidmar_RIS_BrandweerBewaking_Proxy_B_Services" serializeAs="String">
        <value>http://localhost/BBWService.Management/Services.asmx</value>
      </setting>
    </Be.Sidmar.RIS.BrandweerBewaking.Proxy.My.MySettings>
  </applicationSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
