<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add
        key="Be.Sidmar.RIS.BrandweerBewaking.Proxy.BBWService.Management.Services"
        value="{WS.BBW.SM.URL}"
        xdt:Transform="SetAttributes(value)"
        xdt:Locator="Match(key)" />
  </appSettings>
  

  
</configuration>